@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<CargoDetail>
@{
    ViewBag.Title = "CargoTrack";
    Layout = "~/Views/Shared/_CustomerPanelLayout.cshtml";
}


<br />
<h2>Kargolar</h2>
@using (Html.BeginForm("CargoTrack", "CustomerPanel", FormMethod.Get))

{
    <div class="row-cols-lg-auto">
        Kargo Takip Numarası:
        @Html.TextBox("p")
        <input type="submit" value="Ara" class="btn btn-outline-primary" />
    </div>
}
<table class="table table-bordered table-striped mt-3">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Takip Kodu</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Employee</td>
            <td>@item.Receiver</td>
            <td>@item.TrackNumber</td>
            <td>@item.CargoDate.ToString("yyyy-MM-dd hh:mm tt")</td>
            <td><a href="/CustomerPanel/CustomerCargoTrack/@item.TrackNumber" class="btn btn-secondary">Detaylar</a></td>
        </tr>
    }
</table>
