@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>ID</th>
        <th>Departman</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Görsel</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeId</td>
            <td>@item.Department.DepartmentName</td>
            <td>@item.EmployeeName</td>
            <td>@item.EmployeeSurname</td>
            <td>
                <img src="@item.EmployeeImage" class="img-fluid w-25 rounded"/>
            </td>
            <td><a href="/Employee/Update/@item.EmployeeId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Department/EmployeeSales/@item.EmployeeId" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Employee/Create/" class="btn btn-primary">Yeni Personel Ekle</a>

