@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<SaleTransaction>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Satış Detayı</h2>
<table class="table table-bordered mt-3">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam Tutar</th>
        <th>Personel</th>
        <th>Müşteri</th>
        <th>Tarih</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TransactionId</td>
            <td>@item.Product.ProductName</td>
            <td>@item.UnitPrice₺</td>
            <td>@item.Quantity</td>
            <td>@item.TotalPrice₺</td>
            <td>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</td>
            <td>@item.Customer.CustomerName @item.Customer.CustomerSurname</td>
            <td>@item.Date.ToString("yyyy-MM-dd hh:mm tt")</td>
            <td><a href="/Sale/Update/@item.TransactionId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary">Yazdır</a>
